.Pricing{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.Pricing div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    text-align: center;
    width: 30%;
}